<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acc-setup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="createAccessoryTitle">What room is it in?</div>

  <div class="roomSelect" *ngIf="rooms != 0">
    <ion-button
      *ngFor="let room of rooms"
      class="col"
      color="menuBar"
      fill="outline"
      [routerLink]="['/acc-choices']"
      (click)="getRoom(room)"
      >{{room.name}}</ion-button
    >
  </div>

  <div class="accessoryInfo">
    <ion-label class="accLabel">Room Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="roomName"
      class="accNameInput"
    ></ion-input>
  </div>

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="getRoomName()"
      [routerLink]="['/acc-choices']"
      >Continue</ion-button
    >
  </div>
</ion-content>
