<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="signInTitle">Sign In</div>

  <form [formGroup]="credentials">
    <div class="email">
      <ion-label class="emailLabel">Email</ion-label>
      <ion-input
        type="email"
        class="emailInput"
        formControlName="email"
      ></ion-input>
    </div>

    <div class="password">
      <ion-label class="passwordLabel">Password</ion-label>
      <ion-input
        type="password"
        class="passwordInput"
        formControlName="password"
      ></ion-input>
    </div>

    <div>
      <ion-button
        expand="full"
        color="tertiary"
        class="continueBtn"
        type="submit"
        [disabled]="!credentials.valid"
        (click)="login()"
        >Continue</ion-button
      >
    </div>
  </form>
</ion-content>
