@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

.accContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;

  .acc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    // font-size: 5vw;
    width: 117px;
    height: 75px;
    margin-bottom: 6px;

    background: #f8f0e3;
    border: 1px solid rgba(153, 153, 153, 0.25);
    border-radius: 9px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    .accIcon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
    }

    .accIcon2 {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      filter: invert(30%) sepia(25%) saturate(3723%) hue-rotate(164deg)
        brightness(92%) contrast(103%);

      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
    }
  }
}

.accessoryInfo {
  margin-top: 35px;
  .accLabel {
    color: #1e1e1e;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
  }

  ion-input.accNameInput {
    --background: #f8f0e3;
    --color: black;
    border: 1px solid #2a2e45;
    --placeholder-color: black;
    --placeholder-opacity: 0.8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
  }
}

.updateAcc {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  border-radius: 1px;
  height: 60px;
  margin: 70px 0px 10px 0px;
}

.deleteAcc {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  border-radius: 1px;
  height: 60px;
  //TODO can use fixed to make sure it always stays in place
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Roboto;
  margin-top: 20px;
}
