<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Landing</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <!-- <h1>Landing Page</h1> -->
  <div class="logo">
    <svg
      width="160"
      height="159"
      viewBox="0 0 160 159"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M64 135V87.3529H96V135H136V71.4706H160L80 0L0 71.4706H24V135H64Z"
        fill="#2A2E45"
      />
      <path
        d="M158 114.16C158 138.737 123.078 158.66 80 158.66C36.9218 158.66 2 138.737 2 114.16C2 89.5836 36.9218 136.16 80 136.16C123.078 136.16 158 89.5836 158 114.16Z"
        fill="#006989"
      />
    </svg>
  </div>
  <ion-button
    expand="full"
    color="tertiary"
    class="signUpBtn"
    [routerLink]="['/sign-up']"
    >Sign Up</ion-button
  >
  <ion-button
    expand="full"
    color="success"
    class="signInBtn"
    [routerLink]="['/sign-in']"
    >Sign In</ion-button
  >
</ion-content>
