<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="signUpTitle">Create Account</div>

  <form [formGroup]="credentials">
    <div class="email">
      <ion-label class="emailLabel">Email</ion-label>
      <ion-input
        type="email"
        class="emailInput"
        formControlName="email"
      ></ion-input>
      <ion-note
        class="note"
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note
      >
    </div>

    <div class="password">
      <ion-label class="passwordLabel">Password</ion-label>
      <ion-input
        type="password"
        class="passwordInput"
        formControlName="password"
      ></ion-input>
      <ion-note
        class="note"
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Password must be between 6 and 24 characters</ion-note
      >
    </div>

    <div>
      <ion-button
        expand="full"
        color="tertiary"
        class="continueBtn"
        type="submit"
        [disabled]="!credentials.valid"
        (click)="register()"
        >Continue</ion-button
      >
    </div>
  </form>
</ion-content>
