<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="createHomeTitle">Create Home</div>

  <div class="homeInfo">
    <ion-label class="homeNameLabel">Home Name</ion-label>
    <ion-input
      type="text"
      class="homeNameInput"
      [(ngModel)]="homeName"
    ></ion-input>
  </div>

  <!-- <div class="fName">
    <ion-label class="fNameLabel">Owner Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="firstName"
      class="fNameInput"
    ></ion-input>
  </div> -->

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="initHome()"
      [routerLink]="['/profile-setup']"
      >Continue</ion-button
    >
  </div>
</ion-content>
