<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon color="tertiary" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profileTitle">Profile</div>

  <div class="fName">
    <ion-label class="fNameLabel">First Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="firstName"
      class="fNameInput"
      placeholder="{{ownerFirstName}}"
    ></ion-input>
  </div>

  <div class="lName">
    <ion-label class="lNameLabel">Last Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="lastName"
      class="lNameInput"
      placeholder="{{ownerLastName}}"
    ></ion-input>
  </div>

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="signOut()"
      >Sign Out</ion-button
    >
  </div>

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="setOwner()"
      >Save Changes</ion-button
    >
  </div>
</ion-content>
