<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon color="tertiary" slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profileTitle">Profile</div>

  <ion-card *ngFor="let owner of owners">
    <ion-card-header>
      <ion-card-title>{{owner.firstName}} {{owner.lastName}}</ion-card-title>
      <ion-card-subtitle *ngIf="owner.role == 'admin'" class="owner"
        >{{owner.role}}</ion-card-subtitle
      >
      <ion-card-subtitle *ngIf="owner.role == 'user'"
        >{{owner.role}}</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="setOwner()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter first name</ion-label>
          <ion-input
            type="text"
            placeholder="First name"
            [(ngModel)]="fName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Enter last name</ion-label>
          <ion-input
            type="text"
            placeholder="Last name"
            [(ngModel)]="lName"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- <div class="profileTitle">Profile</div> -->

  <!-- <div class="fName">
    <ion-label class="fNameLabel">First Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="firstName"
      class="fNameInput"
      placeholder="{{ownerFirstName}}"
    ></ion-input>
  </div>

  <div class="lName">
    <ion-label class="lNameLabel">Last Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="lastName"
      class="lNameInput"
      placeholder="{{ownerLastName}}"
    ></ion-input>
  </div> -->

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="signOut()"
      >Sign Out</ion-button
    >
  </div>

  <div>
    <ion-button
      expand="full"
      id="open-modal"
      color="tertiary"
      class="continueBtn"
      >Add a user</ion-button
    >
  </div>
</ion-content>
