<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acc-choices"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="createAccessoryTitle">Name accessory</div>

  <div class="accessoryInfo">
    <ion-label class="accLabel">Accessory Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="accName"
      class="accNameInput"
    ></ion-input>
  </div>

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)="getAccName()"
      [routerLink]="['/accessory-room']"
      >Continue</ion-button
    >
  </div>
</ion-content>
