<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-up"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profileTitle">Create Profile</div>

  <div class="fName">
    <ion-label class="fNameLabel">Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="firstName"
      class="fNameInput"
    ></ion-input>
  </div>

  <div class="lName">
    <ion-label class="lNameLabel">Last Name</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="lastName"
      class="lNameInput"
    ></ion-input>
  </div>

  <!-- <div class="">
    <ion-label class="lNameLabel">Password</ion-label>
    <ion-input type="text" class="lNameInput"></ion-input>
  </div>

  <div class="lName">
    <ion-label class="lNameLabel">Password</ion-label>
    <ion-input type="text" class="lNameInput"></ion-input>
  </div> -->

  <div>
    <ion-button
      expand="full"
      color="tertiary"
      class="continueBtn"
      (click)=""
      [routerLink]="['/home']"
      >Continue</ion-button
    >
  </div>
</ion-content>
